#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(14, 14, 32);
  color: #fff;
}

@media (max-width: 700px) {
  .d-flex.justify-content-center {
      flex-direction: column;
      align-items: center;
  }
}